.footer {
  /* position: relative; */
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.1px;
  background-color: #5555553f;
}
.footer-left {
  margin-top: 40px;
  grid-column: 1/3;
}

.footer-left .logo-container img {
  height: 1.5rem;
  margin-bottom: 30px;
}
.col {
  font-size: 0.875rem;
  font-weight: 500;
  color: #525252;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.col li:not(.head) {
  position: relative;
  cursor: pointer;
}
.col li:not(.head)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.1px;
  background-color: #333;
  transition: width 0.4s;
}
.col li:not(.head):hover:after {
  width: 80%;
}

.head {
  color: hsla(0, 0%, 33%, 0.608);
  margin-bottom: 8px;
}

/* Footer logos */
.footer-logo {
  margin-top: 40px;
}
.footer-logo p {
  grid-column: 1/3;
  align-self: end;
  color: #525151;
}
.footer-logo .logos-container {
  place-self: end;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-logo .logos-container .sm-logos {
  align-self: flex-end;
}
.footer-logo .logos-container .sm-logos .sm-logo {
  cursor: pointer;
}
.footer-logo .logos-container .sm-logos .sm-logo .fa-brands {
  font-size: 20px;
  color: rgba(85, 85, 85, 0.639);
}

/* Media-Query */
@media only screen and (min-width: 1300px) {
  .footer {
    grid-template-columns: repeat(3, 400px);
  }
  .footer-logo {
    grid-template-columns: repeat(3, 400px);
  }
}
